body {
  margin: 0;
  background-color: blue;
  font-size: 23px;
}

div {
  margin-left: 45%;
  font-size: 30px;
}

main {
  margin-left: 100px;
  margin-top: 10px;
  background-color: rgb(47, 180, 184);
}

label {
  display: block;
  padding: 5px;
  font-weight: bold;
}

input {
  padding: 6px;
  outline: none;
  border-radius: 5px;
  border: 0;
}
button {
  padding: 10px 20px;
  margin: 20px;
  margin-left: 45%;
}
